body {
	text-align: center;
	font-size: 100%;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	/*Sets flex direction to row and that items should wrap in the traditional fasion. 
	Shorthand for flex-direction and flex-wrap properties.*/
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 70vw;
	background-color: lightgrey;
	/*margin: auto;
  	padding: 10px;
  	border-radius: 10px;
  	grid-gap: 10px;
  	height: 60vh;
  	box-shadow: 0 0 10px 0 grey;*/
}

.flex-item {
	margin: 10px;
	padding: 10px;
	border: 2px dotted black;
	text-align: center;
	background-color: white;

}

/* Slider Styles*/
	.fsize1 {
		flex-grow: 1;
		width: 60%;
	}

	.fsizebuffer {
		flex-grow: 1;
		width: 14%;
	}

	/* The slider itself */
	.slider {
	  -webkit-appearance: none;  /* Override default CSS styles */
	  appearance: none;
	  width: 80%; /* Full-width */
	  height: 10px; /* Specified height */
	  background: #d3d3d3; /* Grey background */
	  outline: none; /* Remove outline */
	  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
	  transition: opacity .2s;
	}

	/* Mouse-over effects */
	.slider:hover {
	  opacity: 1; /* Fully shown on mouse-over */
	}

	/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none; /* Override default look */
	  appearance: none;
	  width: 7px; /* Set a specific slider handle width */
	  height: 35px; /* Slider handle height */
	  background: darkgrey; /* Grey background */
	  cursor: pointer; /* Cursor on hover */
	  outline: black solid 2px;
	}

	.slider::-moz-range-thumb {
	  width: 7px; /* Set a specific slider handle width */
	  height: 35px; /* Slider handle height */
	  background: darkgrey; /* Grey background */
	  cursor: pointer; /* Cursor on hover */
	  outline: black solid 2px; 
	}

/*Color Swatch Styles*/
 	.colors2 {
		flex-basis: 60px;
		max-width: 10vw;
		flex-grow: 1;
		height: 155px;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

	.swatch {
		width: 2em;
		height: 2em;
		margin: .5em;
	}
	/*COLORS*/
		.black {
			background-color: black;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.grey {
			background-color: grey;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.green {
			background-color: green;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.blue {
			background-color: blue;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.red {
			background-color: red;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.yellow {
			background-color: yellow;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.orange {
			background-color: orange;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}
		.purple {
			background-color: purple;
			box-shadow: 0 0 0 1px black;
			border: rgb(216, 216, 216) solid 2px;
			border-radius: 7px;
		}


#input3 {
	font-size: 2rem;
	font-weight: bold;
	flex-grow: 5;
	flex-basis: 30vw;
	height: 20vh;
	text-align: center;
}

.text-black {
	color:black;
}
.text-grey {
	color:grey;
}
.text-green {
	color:green;
}
.text-blue {
	color:blue;
}
.text-red {
	color:red;
}
.text-yellow {
	color:yellow;
}
.text-orange {
	color:orange;
}
.text-purple {
	color:purple;
}

.font4 {
	flex-grow: 1;
	flex-basis: 20%;
}

.bg5 {
	flex-grow: 1;
}

.fstyle6 {
	flex-grow: 1;
	width: 25vw;
	display: grid;
	justify-content: center;

  }

.fstylebuffer {
	flex-grow: 1;
	width: 10%;
}

button {
  	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5px;
	margin: 5px;
  }

  .buta {
  	grid-column: 1;
  }

    .butb {
  	grid-column: 2;
  }

    .butc {
  	grid-column: 3;
  }

    .butd {
  	grid-column: 4;
  }