body {
	text-align: center;
	font-size: 100%;
}

.grid-container {
	display: grid;
	background-color: white;
	margin: auto;
  	padding: 10px;
  	border-radius: 10px;
  	grid-gap: 10px;
  	height: 60vh;
  	width: 70vw;
  	box-shadow: 0 0 10px 0 grey;
}

.grid-item {
	padding: 10px 0;
	border: 2px dotted black;
	text-align: center;
}

.colors1 {
	grid-column: 1 / span 6;
	grid-row: 1;
}

.fsize2 {
	grid-column: 1;
	grid-row: 2 / span 4;
}

.input3 {
	grid-column: 2 / span 4;
	grid-row: 2 / span 4;
	text-align: center;
}

.fstyle4 {
	grid-column: 6;
	grid-row: 2 / span 4;
  }

.font5 {
	grid-column: 1 / span 5;
	grid-row: 6;
}

.bg6 {
	grid-column: 6;
	grid-row: 6;
}